*{
  margin:0;/*overall margin of 0 for the document*/
  padding:0;
  box-sizing:border-box;/* . It guarantees that the content box
     shrinks to make space for the padding

     and borders. Therefore, if you set your
      element width to 200 pixels, border-box
      makes sure that the content, padding,
      and borders fit in this number.*/
  /*border:red solid 1px;*/
  list-style-type: none;
  font-family: 'Alegreya';
  font-size:25px;

}
#logo{
  width:170px;
}

.loginpanel{
  border:solid 2px #013220;

  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:10px;
  gap:20px;
}
button{
  padding-top:5px;
  padding-bottom:5px;
  background-color:#013220;
  border-radius:10px;
  border:none;
  font-size:20px;
  color:white;
  width:100%;
  margin-bottom:10px;
}
fieldset{
  border-radius:10px;
  border:#013220;
}


