<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HustleUP freelance</title>
</head>
<body>
<section class="wrapper">
  <div class="header">
    <div class="header1" >
      <ul>
        <li><img src="assets/logo.jpg" id="logo"></li>
        <li><a id="companies" onclick="window.location.href='/api/companies';">Find Company</a>
        <li><a id="vacancies" onclick="window.location.href='/api/vacancies';">Find Work</a>
        <li><a id="info" onclick="window.location.href='/api/about';">Why HustleUP</a>
        <li><a id="blog" onclick="window.location.href='/api/blog';">Enterprise</a>
        <li><a id="searchbar" onclick="window.location.href='/api/search';">Search</a>

        <li><a onclick="window.location.href='/api/login';" id="log in">Log In</a>
        <li> <button onclick="window.location.href = 'http://127.0.0.1:8000/api/register';">Sign Up</button>
      </ul>
    </div>
    <div id="line"></div>
    <div class="header2">
      <ul>
        <li><a>Development&IT</a>
        <li><a>Design&Creative</a>
        <li><a>Sales&Marketing</a>
        <li><a>Writing&Translation</a>
        <li><a>Admin&Customer Support</a>
      </ul>
    </div>
  </div>
  <div class="middle">

    <ul>
      <li><p id="inf1">Find Your Next<br> Hustle in Minutes</p>
      <li><p id="inf2">HustleUP-fastest way to find freelance work</p>
      <li><button onclick="window.location.href = 'http://127.0.0.1:8000/api/register';"type="button3">Get Started</button>
    </ul>

  </div>
  <div class="footer">
    <div class="right">
      <ul>
        <li><img src="assets/fast.png">
        <li>Find out if your skills are relevant in the current job market:
        <li>Top 15 most wanted jobs in your area! Click here to find out!
        <li><button onclick="window.location.href='/api/top_fiveteen';">Learn more</button>
      </ul>
    </div>

    <div class="left">
      <ul>
        <li><img src="assets/mc.png">
        <li><p>
          Microsoft:    “One of the advantages of utilizing freelancers is<br>
          finding talent with different skills quickly as our needs change."</p>
        <li><button>Learn more</button>
      </ul>
    </div>


  </div>
</section>
</body>
</html>
