
<div class="header">

  <img src="/assets/logo.jpg" id="logo">
</div>
<div class="middle-box">


    <form>
      <p>Sign up to HustleUP!</p>
      <input class="input-box" type="text" name="First Name" required placeholder="First name">
      <input class="input-box" type="text" name="Last Name" required placeholder="Last name">
      <input class="input-box" type="text" name="Email" required placeholder="Email">
      <input class="input-box" type="password" name="password" required placeholder="Password" >
      <input class="input-box" type="text" name="Country" required placeholder="Country">
      <input class="button" type="submit" name="login" value="Submit" >
      <p>Already have an account?<p>
      <a href="/login">Log In</a>

    </form>

</div>
