<div class="header">
  <img src="/assets/logo.jpg" id="logo">
</div>

<div class="info">
  <h1>Up your work game, it's free!</h1>
  <h2>No cost to join</h2>
  <h3>Register and browse professionals,
    explore projects, or even book a consultation.</h3>
  <h2>Post a job and hire top talent.</h2>
  <h3>Finding talent doesn’t have to be a chore.
    Post a job or we can search for you!</h3>
  <h2>Work with the best—without breaking the bank.</h2>
  <h3>Upwork makes it affordable to up your work and take advantage of low transaction rates.</h3>

</div>


